@media (max-width: 1640px) {
	.main__wrapper {
		background-position: right -120px top 50px;
	}

	.flow__brace_animated {
		left: 8%;
	}

	.flow__pound_animated {
		left: 5%;
	}

	.main__prices {
	    width: 65%;
	}
}

@media (max-width: 1440px) {
	.main__wrapper {
		background-size: contain;
		background-position: right -100px top 100px;
	}

	.about__title {
		font-size: 60px;
	}

	.about__text {
		font-size: 20px;
	}

	.flow__pound_animated {
		left: 1%; top: 75%;
	}

	.flow__div-right_animated {
		transform: rotate(15deg);
		left: 90%; top: 12%;
	}

	.text {
	    font-size: 16px;
	}

	.main__prices {
	    width: 85%;
	}

	.main__pound {
		position: absolute;
		left: 12%; top: 75%;
		transform: rotate(25deg);
	}

	.main__brace-left {
		top: 5%;
	}
}

@media (max-width: 1025px) {

	.header__body {
		z-index: auto;
	}

	.header__nav {
		position: fixed;
		left: 0; top: -100%;
		width: 100%; height: 100%;
		background-color: #fbfbfb;
		padding: 100px 0 0 0;
		transition: top .8s;
	}

	.header__nav_active {
		display: flex;
		top: 0;
	}

	.header .list {
		display: block;
		width: 100%;
		margin: 0 37px;
	}

	.header .item {
		margin: 0 0 30px 0;
		padding: 0 0 15px 0;
		border-bottom: 1px solid #f82370; 
	}

	.header__link {
		font-size: 40px;
	}

	.header__burger {
		display: block;
		position: relative;
		width: 25px; height: 20px;
		z-index: 3;
		box-shadow: 0px 0px 0px 0px rgba(251,251,251,1);
		transition: box-shadow .8s;
	}

	.header__burger:hover {
		box-shadow: 0px 0px 12px 2px rgba(255,78,46,1);
	}

	.header__bar {
		position: absolute;
		background-color: #f82074;
		width: 100%; height: 3px;
		left: 0; top: 9px;
	}

	.header__burger::after,
	.header__burger::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 3px;
		left: 0;
		transition: .8s;
	}

	.header__burger::before {
		top: 0;
		background-color: #f2098f;
	}

	.header__burger::after {
		bottom: 0;
		background-color: #f44c40;
	}

	.header__contacts {
		z-index: 3;
	}

	.header__burger.active::before {
		transform: rotate(45deg);
		top: 9px;
	}

	.header__burger.active::after {
		transform: rotate(-45deg);
		bottom: 8px;
	}

	.header__burger.active .header__bar {
		display: none;
	}

	.main__wrapper {
		background-size: contain;
		background-position: right -200px top 100px;
	}

	.main__container {
		padding-right: 37px;
	}

	.about__title {
		font-size: 45px;
	}

	.about__text {
		font-size: 18px;
	}

	.main__photo {
		background: none;
		padding: 0;
	}

	.flow__brace, .flow__pound, .flow__tag-left, .flow__tag-right, .flow__div-left, .flow__div-right {
		font-size: 40px;
	}

	.flow__div_size_s {
		font-size: 30px;
	}

	.flow__div-right {
		display: none;
	}

	.flow__brace_animated {
		left: 5%; top: 5%;
	}

	.flow__pound_animated {
		left: 3%; top: 90%;
	}

	.flow__div-left_animated {
		left: 87%; top: 3%;
	}

	.flow__tag-left_animated {
		left: 26%; top: 77%;
	}

	.flow__tag-right {
		display: block;
	}

	.flow__tag-right_animated {
		transform: rotate(15deg);
		left: 38%; top: 20%;
	}

	.main__list {
		flex-wrap: wrap;
		justify-content: center;
	}

	.list__coding, .list__responsive, .list__programming, .list__tools {
		width: 50%;
		display: flex;
		justify-content: center;
	}

	.list__coding, .list__responsive {
		margin-bottom: 80px;
	}

	.list__text {
		width: 67%;
		font-size: 18px;
	}

	.swiper-container__image {
		width: 100%;
	}

	.swiper-button-prev,
	.swiper-button-next {
		display: none;
	}

	.swiper-pagination {
		display: inline-block;
	}

	.main__prices {
	    width: 100%;
	}

	.main__pound, .main__brace-left {
		display: none;
	} 

	.main__brace-right, .main__div, .main__tag {
		font-size: 25px;
	}

	.main__brace-right {
		left: 15%; top: 5%;
	}

	.main__div {
		left: 51%; top: 90%;
	}

	.main__tag {
		left: 90%; top: 75%;
	}

}

@media (max-width: 770px) {

	.header::before {
		background-color: #fff;
	}

	.container {
		padding: 0 20px;
	}

	.header .button {
		display: none;
	}

	.header__phone {
		margin: 0;
	}

	.header__phone-button {
		display: block;
		background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAA6UlEQVQYlXWQMUoDYRCFv3/dnQiG9BZptU2RJsTCGwg5gLVogsFG8AZKUqRILpDa0kIsRLCwSCGk8h4R8iLJyIZfCLL7mpnHvJl5M2G1PzoBnoAp0AOcEqQk6xFQA66APeCyrCGodv+/cAq8FYlTsp9v4CDyV+Cj3Ea2egY6kefeVSYOy/ptA5hFvwugCXwViRNMn5juMIGpiukF03HkGaY2ppDzxE246cFN45jX3TRz042bHt307qaJm0JKZfm35TrG/IVVYLjj4ALYpPm0iDXQBebAIDbs4jwsOq2iWw6BPnAGHG0HQPcXjNlMHkbo3YUAAAAASUVORK5CYII=") no-repeat;
		background-size: 35%;
		background-position: center;
		width: 15px;
		height: 15px;
		padding: 15px;
		border-radius: 50%;
		border: 2px solid #f74974; 
		outline: none;
		z-index: 3;
		box-shadow: 0px 0px 0px 0px rgba(251,251,251,1);
		transition: box-shadow .8s;
	}

	.header__phone-button:hover {
		box-shadow: 0px 0px 12px 2px rgba(255,78,46,1);
	}

	.page__main {
		padding: 0;
	}

	.main__wrapper {
		background: #fff;
		padding: 200px 0 0 0;
	}

	.main__container {
		padding: 0 ;
	}

	.main__card {
		flex-direction: column;
	}

	.main__theme {
		width: 100%;
		order: 1;
		margin: 0 0 30px 0;
		background: url('../img/img__main/ellipse.svg') no-repeat;
		background-size: auto 100%;
		background-position: left 0 top 100px;
	}

	.main__photo {
		margin: 0 auto;
	}

	.about {
		order: 2;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
    	padding: 0 20px;
	}

	.about__title, .about__text {
		text-align: center;
	}

	.about__title {
		font-size: 54px;
	}

	.about__text {
		font-size: 25px;
	}

	.button {
		width: 100%;
	}

	.flow__tag-right, .flow__div-left {
		display: none;
	}

	.flow__brace_animated {
		left: 15%; top: 15%;
	}

	.flow__pound_animated {
	    left: 8%; top: 32%;
	}

	.flow__div-right {
		display: block;
	}

	.flow__div-right_animated {
	    left: 70%; top: 20%;
	}

	.flow__tag-left_animated {
	    left: 45%; top: 13%;
	}

	.title {
		font-size: 30px;
	}

	.list__coding, .list__responsive, .list__programming, .list__tools {
		width: 100%;
		margin-bottom: 50px;
	}

	.list__tools {
		margin: 0;
	}

	.list__text {
		width: 40%;
	}

	.main__wrapper-gradient {
		margin-bottom: 0;
	}

	.main__title {
		font-size: 28px;
	}

	.main__brace-right, .main__div, .main__tag {
		display: none;
	}

	.footer__body {
		flex-direction: column;
	}

	.footer__list {
		margin: 50px 0 30px;
	}

	.list__network {
		width: 60%;
	}

}

@media (max-width: 620px) {

	.header__phone {
		margin: 0;
		font-size: 16px;
	}

	.main__theme {
		background-position: center top 70px;
	}

	.main__photo {
		width: 80%;
		padding: 0 20px;
	}

	.about__title {
		font-size: 40px;
	}

	.about__text {
		font-size: 16px;
	}

	.flow__brace, .flow__pound, .flow__tag-left, .flow__tag-right, .flow__div-left, .flow__div-right {
		font-size: 20px;
	}

	.main__block {
		padding: 50px 0;
	}

	.main__list {
		margin: 50px 0;
	}

	.list__text {
		width: 85%;
	}

	.main__section {
		margin: 50px auto;
	}

	.swiper-container {
		margin: 50px auto;
	}

	.swiper-pagination {
		margin-top: 50px;
	}

	.main__wrapper-gradient {
		margin-top: 50px;
	}

	.main__title {
		font-size: 25px;
	}

	.main__text {
		width: 100%;
	}

	.link_size_l {
		font-size: 20px;
		color: #8993ad;
	}

	.button_color-white {
		background-color: #ff4e2e;
		color: #fff;
		border: none;
	}

	.footer__body {
		display: flex;
		justify-content: space-between;
		margin: 50px 0 30px;
	}
}